In [1]:

import pandas  as pd

"""
 'like', "label"
 'hour',YYMMDDHH format
 'sdomain': "site domain"
 'scat', "site category"
 'acat', "mobile application category"
 'dmodel'," device mode: iphone, samsung, nokia, etc.."
 'dtype', "device type: smartphone, tablet, etc.."
 'dconn', "connection used by the device: 4G, WIFI, etc.."
  'pos' "position where the promotion was displayed on the user’s mobile"
]
"""

"""
# irrelevant features:
sid: site id
aid: mobile application id
adomain: mobile application domain
did: mobile device id
dip: ip of the originating request



sdomain: site domain

hour: YYMMDDHH format

scat: site category

acat: mobile application category

dmodel: device mode: iphone, samsung, nokia, etc..

dtype: device type: smartphone, tablet, etc..

dconn: connection used by the device: 4G, WIFI, etc..

pos: position where the promotion was displayed on the user’s mobile

A-I: non-visible feature names



"""

'\n# irrelevant features:\nsid: site id\naid: mobile application id\nadomain: mobile application domain\ndid: mobile device id\ndip: ip of the originating request\n\n\n\nsdomain: site domain\n\nhour: YYMMDDHH format\n\nscat: site category\n\nacat: mobile application category\n\ndmodel: device mode: iphone, samsung, nokia, etc..\n\ndtype: device type: smartphone, tablet, etc..\n\ndconn: connection used by the device: 4G, WIFI, etc..\n\npos: position where the promotion was displayed on the user’s mobile\n\nA-I: non-visible feature names\n\n\n\n'

In [2]:
data = pd.read_csv("clean_data_num")

In [3]:
data.describe()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
count,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07
mean,1.698056e-01,1.912256e+07,7.120096e+06,1.230634e+07,1.935569e+07,4.282617e+05,1.015305e+00,3.313150e-01,2.880146e-01,1.004968e+03,1.884181e+04,3.188831e+02,6.010201e+01,2.112601e+03,1.432499e+00,2.271444e+02,5.321685e+04,8.338229e+01
std,3.754620e-01,2.966837e+02,6.540446e+06,4.605112e+06,9.503487e+06,6.352877e+05,5.274336e-01,8.547935e-01,5.063820e-01,1.094586e+00,4.959457e+03,2.127250e+01,4.729538e+01,6.094124e+02,1.326227e+00,3.510221e+02,4.995682e+04,7.028996e+01
min,0.000000e+00,1.912210e+07,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.001000e+03,3.750000e+02,1.200000e+02,2.000000e+01,1.120000e+02,0.000000e+00,3.300000e+01,-1.000000e+00,1.000000e+00
25%,0.000000e+00,1.912230e+07,3.158420e+05,7.377208e+06,9.561058e+06,2.863200e+04,1.000000e+00,0.000000e+00,0.000000e+00,1.005000e+03,1.692000e+04,3.200000e+02,5.000000e+01,1.863000e+03,0.000000e+00,3.500000e+01,-1.000000e+00,2.300000e+01
50%,0.000000e+00,1.912260e+07,6.486150e+06,1.265707e+07,2.616559e+07,1.573620e+05,1.000000e+00,0.000000e+00,0.000000e+00,1.005000e+03,2.034600e+04,3.200000e+02,5.000000e+01,2.323000e+03,2.000000e+00,3.900000e+01,1.000480e+05,6.100000e+01
75%,0.000000e+00,1.912281e+07,1.513174e+07,1.653723e+07,2.616559e+07,4.752640e+05,1.000000e+00,0.000000e+00,1.000000e+00,1.005000e+03,2.189400e+04,3.200000e+02,5.000000e+01,2.526000e+03,3.000000e+00,1.710000e+02,1.000930e+05,1.010000e+02
max,1.000000e+00,1.912302e+07,1.513174e+07,1.653723e+07,2.616559e+07,2.455470e+06,5.000000e+00,5.000000e+00,7.000000e+00,1.012000e+03,2.405200e+04,1.024000e+03,1.024000e+03,2.758000e+03,3.000000e+00,1.959000e+03,1.002480e+05,2.550000e+02

In [4]:
columns = data.columns

In [5]:
# now we have all our numerical columns encoded:

num_columns = data._get_numeric_data().columns
num_columns

Index(['like', 'hour', 'sdomain', 'scat', 'acat', 'dmodel', 'dtype', 'dconn',
       'pos', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
      dtype='object')

In [6]:

data.head()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
0,0,19122100,6486150,7377208,26165592,23172,1,2,0,1005,15706,320,50,1722,0,35,-1,79
1,0,19122100,6486150,7377208,26165592,447450,1,0,0,1005,15704,320,50,1722,0,35,100084,79
2,0,19122100,6486150,7377208,26165592,2455470,1,0,0,1005,15704,320,50,1722,0,35,100084,79
3,0,19122100,6486150,7377208,26165592,159567,1,0,0,1005,15706,320,50,1722,0,35,100084,79
4,0,19122100,11927,17106,26165592,344574,1,0,1,1005,18993,320,50,2161,0,35,-1,157

In [7]:
label_0 = data.loc[data['like'] == 0]

label_1 = data.loc[data['like'] == 1]

In [8]:
del data

In [9]:
label_0.head()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
0,0,19122100,6486150,7377208,26165592,23172,1,2,0,1005,15706,320,50,1722,0,35,-1,79
1,0,19122100,6486150,7377208,26165592,447450,1,0,0,1005,15704,320,50,1722,0,35,100084,79
2,0,19122100,6486150,7377208,26165592,2455470,1,0,0,1005,15704,320,50,1722,0,35,100084,79
3,0,19122100,6486150,7377208,26165592,159567,1,0,0,1005,15706,320,50,1722,0,35,100084,79
4,0,19122100,11927,17106,26165592,344574,1,0,1,1005,18993,320,50,2161,0,35,-1,157

In [10]:

label_1.head()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
8,1,19122100,6486150,7377208,26165592,315606,1,2,0,1005,15707,320,50,1722,0,35,-1,79
23,1,19122100,6486150,7377208,26165592,60908,1,0,0,1005,15701,320,50,1722,0,35,-1,79
27,1,19122100,15131739,16537234,9561058,2901,1,0,0,1005,21611,320,50,2480,3,297,100111,61
32,1,19122100,6486150,7377208,26165592,9929,1,0,0,1005,15708,320,50,1722,0,35,100083,79
37,1,19122100,15131739,16537234,1141673,56410,1,0,0,1005,18993,320,50,2161,0,35,100034,157

In [11]:
sampled_label_0 = label_0.sample(n= 6865066)

In [12]:
sampled_label_0.head()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
35801254,0,19122919,15131739,16537234,9561058,1765,1,2,0,1005,23722,320,50,2716,3,43,-1,23
15121020,0,19122412,68122,12657073,26165592,188755,1,0,1,1005,19984,320,50,2278,2,35,-1,95
16989022,0,19122504,315842,12657073,26165592,2174,1,0,0,1005,17877,320,50,2036,3,47,-1,156
18540143,0,19122514,6486150,7377208,26165592,19208,1,0,0,1005,15699,320,50,1722,0,35,100084,79
8361874,0,19122216,6486150,7377208,26165592,2455470,1,0,0,1005,15708,320,50,1722,0,35,100083,79

In [13]:
del label_0

In [14]:
final_balanced = pd.concat([label_1, sampled_label_0], ignore_index=True)

In [15]:
final_balanced.head()

,like,hour,sdomain,scat,acat,dmodel,dtype,dconn,pos,A,B,C,D,E,F,G,H,I
0,1,19122100,6486150,7377208,26165592,315606,1,2,0,1005,15707,320,50,1722,0,35,-1,79
1,1,19122100,6486150,7377208,26165592,60908,1,0,0,1005,15701,320,50,1722,0,35,-1,79
2,1,19122100,15131739,16537234,9561058,2901,1,0,0,1005,21611,320,50,2480,3,297,100111,61
3,1,19122100,6486150,7377208,26165592,9929,1,0,0,1005,15708,320,50,1722,0,35,100083,79
4,1,19122100,15131739,16537234,1141673,56410,1,0,0,1005,18993,320,50,2161,0,35,100034,157

In [16]:
final_balanced.to_csv("final_balanced_data.csv",index=False)